 
<nav role="navigation">
    <div id="menuToggle">
      
      <input type="checkbox" />
      
      <span></span>
      <span></span>
      <span></span>
    
      <ul id="menu">
    
        <a routerLink="/">Inicio</a>
        <span></span>
        <a routerLink="/baja">Iniciar Sesion</a>
        <span></span>
        <a routerLink="/alta">Registrarse</a>
        <span></span>
        <a routerLink="/catalogo">Catalogo</a>
        <span></span>
        
    </ul>
    
    </div>
  </nav>


  <!--    Made by Erik Terwan    -->
<!--    Edited by Thomas Romero    -->